/***HEADER***/

/*NAV*/

nav{
    padding: 50px;
    margin: 0px;
}

nav ul{
    list-style: none;
}
.main-nav a {
    margin: 10px;
    border-radius: 5px;
    background: rgb(4, 178, 247);
    color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 21px;
}
.main-nav .logo {
    background: white;
    margin-top: 0%;
    padding-top: 0%;
}

.main-nav{
    display: -webkit-flex;
    display: flex;
}

.main-nav li:first-child {
    margin-right: auto;
}

/*MAIN IMG*/

.main-img{
    background-image: url(../kadaiImage/mainbg.png) ;
    background-repeat: no-repeat;
    height:500px;
    width: 90%;
    margin-left: 90px;
}

.main-img h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-top: 200px;
}

.main-img p{
    text-align: center;
    font-size: 30px;
    color: white;
}

/***BODY***/

/*COMMON CONFIG*/
h2{
    font-size: 24px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0px;
}

.j-title{
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

/*ABOUT*/
.about{
    background-color: rgba(199, 194, 194, 0.589);
    margin-left: 90px;
}

.about p{
    text-align: center;
    margin-top:30px ;
    margin-bottom: 40px;
    line-height: 40px;
}

.gallery ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
